#display {
    display: flex;
    margin: auto;
    width: 400px;
    height: 100px;
    border: 10px solid #4e6096;
    border-radius: 10px;
    margin-bottom: 5px;
    font-size: 50px;
    justify-content: end;
    align-items: center;
}

#calculator {
    border: 10px solid #4e6096;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    margin: auto;
    width: 400px;
    height: 400px;
    align-items: center;
}   

btn.pixel {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 5px solid grey;
    border-radius: 10px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

btn.pixel:hover {
    transform: scale(1.10);
}

#pixel16 {
    font-weight: 200;
    background-color: lightsalmon !important;
}

#pixel19 {
    background-color: lightskyblue !important;
}